<nav class="navbar">
    <div class="container-fluid">
      <div class="d-flex justify-content-start align-items-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle sidebar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="d-flex justify-content-center align-items-center flex-grow-1">
        <a class="navbar-brand" href="#">
          <img src="..\..\assets\images\LogoBirthdayCalendar.png" alt="Logo" class="d-inline-block align-middle logo">
        </a>
      </div>
      <div class="d-flex justify-content-end align-items-center">
        <div class="profile-icon">
          <a href="#"><img src="..\..\assets\images\user-profile.png" alt="Profile" class="d-inline-block align-middle profile-logo"></a>
        </div>
      </div>
    </div>
 </nav>
