.sidebar {
    position: fixed;
    top: 89px; /* Ajustez la hauteur de la navbar */
    left: 0;
    width: 60px; /* Ajustez la largeur de la sidebar selon vos besoins */
    height: calc(100% - 50px); /* Soustrayez la hauteur de la navbar */
    background-color: #f8f9fa; /* Couleur de fond de la sidebar */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25); 
    z-index: 998; /* Assurez-vous que la sidebar s'affiche au-dessus du contenu de la page */
    transition: width 0.3s ease-in-out;

  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .sidebar.show-sidebar {
    width: 200px; /* Ajustez la largeur de la sidebar en mode étendu */
    transition: width 0.3s ease-in-out;
  }

  .sidebar.show-sidebar .sidebar-label {
    display: block; /* Affichez le nom des rubriques en mode étendu */
  }
  .sidebar-item {
    margin-bottom: 10px; /* Ajustez l'espacement entre les éléments de la sidebar selon vos besoins */
  }
  
  .sidebar-link {
    display: block;
    padding: 10px;
    text-align: center;
  }
  
  .sidebar-logo {
    max-width: 30px; 
    width: 100%;
    height: auto;

  }
  .sidebar-item:hover {
    background-color: rgb(68, 209, 202);
  }
  .sidebar-menu .collapsed {
    display: none;
  } 
  
  .sidebar.show-sidebar .collapsed {
    display: inline;
  }