<div class="sidebar">
    <ul class="sidebar-menu">
      <li class="sidebar-item">
        <a href="#" class="sidebar-link">
          <img src="..\..\assets\images\ballon.png" alt="Logo 1" class="sidebar-logo">
        </a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link">
          <img src="..\..\assets\images\ballon.png" alt="Logo 2" class="sidebar-logo">
        </a>
      </li>
      <!-- Ajoutez d'autres éléments de la sidebar ici -->
    </ul>
  </div>
  